// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  height: 100%;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  position: relative;
  overflow: scroll; 
  height: 80vh;
}
.container-fluid {
  padding-top: 1rem;
  height: 100%;
  min-height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.marketing h2 {
  margin-bottom: 1rem;
  color: #4D91DE;
}

.jumbotron {
  background: url(../images/blue-code.jpg) no-repeat;
  background-position: left center;
  //background-size: cover;
  color: white;
  min-height: 80vh;
}
.jumbotron .text-vertical {
  padding-top: 6.5rem;
}

/* Custom page header */
.header {
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  //border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Navigator Custom */


.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
}

.nav, .navbar {
  background-color: #fafafa;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: #4D91DE;
}

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
  color: #4D91DE;
}

#menu-container {
  padding: 0;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
}
.btn-info, {
  background-color: #4D91DE;
  border-color: #4D91DE;
}
.btn-info:hover {
  background-color: #4285d1;
  border-color: #4285d1;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* About */

.profile-image {
  width: 200px;
}

.skills {
  padding-top: 1rem;
}
.progress {
  margin-bottom: .5rem;
}
ul {
  padding-left: 1rem;
}
li {
  list-style: none; 
  //padding-bottom: .5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 850px) {
  .jumbotron h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .profile-image {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .jumbotron h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 3.5rem;
  }
}
